<section class="main">
  <header class="header">
    <div class="container">
      <div class="logo">
        <a href="#">
          <img src="images/logo.png" alt="logo" />
        </a>
      </div>
      <div class="burger" id="burger">
        <svg
          class="header__burger-svg"
          enable-background="new 0 0 512 512"
          height="512"
          viewBox="0 0 512 512"
          width="512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"
          />
          <path
            d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"
          />
          <path
            d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z"
          />
        </svg>
      </div>

      <nav class="menu" id="menu">
        <div class="close">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 492 492"
            style="enable-background: new 0 0 492 492"
            xml:space="preserve"
          >
            <g>
              <g>
                <path
                  d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"
                />
              </g>
            </g>
          </svg>
        </div>
        <ul class="menu-items">
          <li class="menu-item">
            <a href="#" (click)="scrollTo(productsElement)">Пироженки</a>
          </li>
          <li class="menu-item">
            <a href="#" (click)="scrollTo(advantagesElement)">О нас</a>
          </li>
          <li class="menu-item">
            <a href="#" (click)="scrollTo(orderElement)">Оформить заказ</a>
          </li>
        </ul>
      </nav>
      <a class="phone" href="tel:+375 (29) 368-98-68"> +375 (29) 368-98-68 </a>
    </div>
  </header>
  <div class="main-info">
    <div class="container">
      <div class="main-text">
        <div class="main-text-tittle">
          <h1>Мягкие французские пироженки Macaroons</h1>
        </div>
        <div class="main-text-info">
          Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками
          Macaroon!
        </div>
        <div class="main-text-action">
          <button class="button btn-main" (click)="scrollTo(productsElement)">
            Выбрать макарун
          </button>
        </div>
      </div>
      <div class="main-image">
        <img src="images/main.img.png" alt="Macaroons" class="main-img" />
      </div>
    </div>
  </div>
</section>

<section class="advantages" #advantagesElement>
  <div class="advantages-about">
    <div class="container">
      <div class="advantages-info">
        <div class="advantages-text">
          <div class="advantages-text-tittle">
            <h2>Мы печём для вас вкуснейшие макаруны уже более 10 лет</h2>
          </div>
          <div class="advantages-text-info">
            Все пироженки мы готовим только из натуральных и качественных продуктов, без
            консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло
            82,5%, без дрожжей, маргарина, разрыхлителей и улучшителей муки.
          </div>
        </div>
      </div>
      <div class="advantages-image">
        <img src="images/Macaroon.advantage.png" alt="Macaroon" />
      </div>
    </div>
  </div>
  <div class="advantages-items">
    <div class="container">
      @for (advantage of advantages; track $index; let i = $index) {
        <div class="advantages-item">
          <div class="advantages-number">{{ i + 1 }}</div>
          <div class="advantages-tittle">{{ advantage.title }}</div>
          <div class="advantages-info">{{ advantage.info }}</div>
        </div>
      }
    </div>
  </div>
</section>

<section class="products" #productsElement>
  <div class="container">
    <div class="products-tittle">
      <h2>Выберите свой макарун</h2>
    </div>
    <div class="product-items">
      @for (product of products; track $index; let i = $index) {
        <div class="product">
          <div class="product-image">
            <img src="images/{{ product.image }}" alt="Macaroon {{ i + 1 }}" />
          </div>
          <div class="product-tittle">{{ product.title }}</div>
          <div class="product-info">
            <div class="product-text">
              <div class="product-info-quantity">{{ product.quantity }}</div>
              <div class="product-info-price">{{ product.price }}</div>
            </div>
            <div class="product-action">
              <button class="button btn-product" (click)="addToCart(product, orderElement)">
                Заказать
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<section class="order" #orderElement>
  <div class="container">
    <div class="order-image">
      <img src="images/macaron.order.png" alt="Macaroons" />
    </div>
    <div class="order-action">
      <div class="order-text">
        <div class="order-text-tittle">
          <h2>Закажите макарун!</h2>
        </div>
        <div class="order-text-info">
          Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
        </div>
      </div>
      <div class="order-form">
        <form action="#" method="POST">
          <div class="order-form-choice">
            <div class="order-form-choice-tittle">Ваш выбор</div>
            <div class="order-form-choice-input">
              <input
                type="text"
                class="input input-choice"
                placeholder="Напишите, что хотите заказать..."
                name="option"
                [(ngModel)]="formValues.productTitle"
              />
            </div>
          </div>
          <div class="order-form-info">
            <div class="order-form-info-tittle">Заполните данные для заказа</div>
            <div class="order-form-info-input-name">
              <input
                type="text"
                class="input input-name"
                placeholder="Ваше имя"
                name="name"
                [(ngModel)]="formValues.userName"
              />
            </div>
            <div class="order-form-info-input-phone">
              <input
                type="number"
                class="input input-phone"
                placeholder="+375 (__) ___ - __ - __"
                name="phone"
                [(ngModel)]="formValues.phone"
              />
            </div>
          </div>
          <div class="order-form-action">
            <button class="button btn-order" (click)="createOrder()">Оформить заказ</button>
          </div>
        </form>
      </div>
    </div>
    <div class="order-img-big">
      <img src="images/strawberry1.png" alt="strawberry" />
    </div>
    <div class="order-img-small">
      <img src="images/strawberry2.png" alt="strawberry" />
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="footer-info">
      <div class="logo">
        <a href="#">
          <img src="images/logo.png" alt="logo" />
        </a>
      </div>
      <div class="footer-text">Все права защищены, 2020</div>
    </div>
    <div class="footer-social">
      <div class="social-image">
        <a href="{{ socialInst }}">
          <img src="images/instagram.png" alt="Instagram" />
        </a>
      </div>
      <div class="social-text">Мы в Instagram</div>
    </div>
    <a class="footer-phone" href="tel:+375 (29) 368-98-68"> {{ phoneNumber }} </a>
  </div>
</footer>

@if (showPresent) {
  <div class="container">
    <div class="promotion">
      <div class="promotion-text">Оформите заказ и получите подарок!</div>
      <button class="btn-promotion">
        <img src="images/present.png" alt="Present" />
      </button>
    </div>
  </div>
}
